<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= meme.name %> - Meme Central</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/css/navbar.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %> <%- include("./partials/meme.ejs")
    %> <%- include('./partials/scripts.ejs') %>
  </body>
</html>
